<li>
 	<% if deal.purchaser_id==@user.id %>
		<span class="string"><%= deal.to_s_sender %>
	    <% if deal.receiver_id.nil? && !deal.used %>
			 <%= link_to "send now!", edit_deal_path(deal) %>
		<% elsif !deal.used  %>
			 <%= " sent to " + User.find(deal.receiver_id).name  %>	 
		<% else %>
			<%= "Deal has been applied! You have received " + pluralize(deal.purchaser_bonus_points, 'point') + "."%>	 	 
	    <% end %>
	  </span>
   <% else %>
    	<% if !deal.used %>
   			<span class="string"><%= deal.to_s_receiver %></span>
   		<% end %>
   <% end %>
</li>